





/* Import Material Symbols Rounded from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=call,north_east');

.call-icon {
    font-family: 'Material Symbols Rounded';
    font-variation-settings: 'FILL' 1, 'wght' 500;
    font-size: 36px; /* adjust size */
    vertical-align: middle;
}

.north-east-icon {
    font-family: 'Material Symbols Rounded';
    font-variation-settings: 'FILL' 0, 'wght' 400;
    font-size: 24px;
}












:root {
            --primary-main : #109335;
            --primary-dark : #1A6034;
            --primary-light : #ADCE24;
            --accent-main : #F9A856;
            --accent-dark : #5B371E;
            --alternative-main : #008FD7;
            --alternative-darker : #136EA6;
        }

        html, body {
            overflow: auto;
            margin: 0px;
            padding: 0px;
            display: grid;
            font-family: "Signika", sans-serif;
        }

        .navbar {
            background-color: white;
            padding: 10px 5vw;
            filter: drop-shadow(5px 5px 10px rgba(0,0,0,.2));
        }


.landing {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh; /* dynamic height: at least 70% of viewport height */
    width: 100%;
    overflow: hidden; /* ensures anything outside is hidden */
}

.bg-main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.bg-main img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom center; /* always show bottom */
}

.content-landing {
    position: relative;
    z-index: 2;
    color: var(--primary-main);
    text-align: center;
    padding: 2rem; /* optional spacing */
}



        /* text format */
